/*Element*/
.header__title{
    font-size: 2.25em;
}

.main__form__textbox{
    height: 5vh;
    display: block;
    width: 80vw;
    margin-bottom: 2vh;

}

.--button{
    min-width: 40vw;
    max-width: fit-content;
    min-height: 50px;
    background-color: $cOrange;
    font-weight: 700;
    font-size: 1.125em;


}

.footer__redesSociales__title, .footer__contactar__title{
    color: $cWhite;
    font-weight: bolder;

}

.footer__copy, .footer__contactar, .footer__redesSociales{
    color: $cWhite;
}
.footer__copy{
    background-color: red;

}